@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    font: size 62.5%;
    font-family: 'nunito', Geneva, Tahoma, sans-serif;
}

nav{
    color: white;
        
}

    nav h1{
        margin-left: 100px; 
    }

    nav a img{
        width: 70px;
        height: 90px;
        padding: 15px 15px;
}

    nav ul li{
        list-style: none;
        display: inline-block;
		margin-left: 30px;
    }

        nav ul li a{
            color: #ffff;
            text-decoration: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1rem;
            font-weight: 400px;
        
        }

            nav ul li a:hover{
                color: black;
                text-decoration: underline;
            }

section{
    color: white;
    background-color: #f1f1f1;
    margin: 15px 80px;

}

    section p{
        color:black;
        
        
    }

    section ul {
        border-top: solid #8a8989 3px;
        padding: 5px 20px;
    }
        
        section ul li p{
            font-size: 1.5rem;
        }

    section a{
        color: #46bbe9;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 400;
    }
        section a:hover{
            color: black;
            text-decoration: underline;
        }

header{
    background-color: #fffbfb;
}

main{
    background-color: #fffbfb;
}


footer{
    background-color: #f1f1f1;
}

footer a img{
    width: 90px;
    height: 90px;
    
}

.footer{
    text-align: center;
}

.bgPink{
    background-color: #ff5d77;
}