.asideCss{
    margin: 5px;
    text-align: center;
    
    a{
        color: $mainColor;
        text-decoration: none;
    }
}

.animation{
    transition: all 300ms;
    position: relative;
    &:hover{
        transform: scale(1.15);
    }
}