$primaryFont: 'nunito', Geneva, Tahoma, sans-serif;
$secondaryFont: Verdana, Geneva, Tahoma, sans-serif;

$firstFonts: 0.5rem;
$secondFonts: 1rem;
$thirdFonts: 1.5rem;
$fourtFonts: 2rem;
$fifthFonts: 2.5rem;
$sixthFonts: 3rem;