.mainTitle{
    h1{
        color: $mainColor;
        background-color: #9e858544;
        border-top: solid #8a8989 2px;
        border-bottom: solid #8a8989 2px;
        padding: 10px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}