.sectionCss{
    text-align: center;
    img{
        margin-top: $sixthFonts;
        margin-left: $sixthFonts;
    }
    h2{
        @include hSectionSobreMi($aboutMeColor, center, $thirdFonts, $fourtFonts, $thirdFonts, 5px)
    }
}

.sobreMi{
    h1{
        @include hSectionSobreMi($aboutMeColor, center, $thirdFonts, $fourtFonts, $thirdFonts, 5px)
    }
}