.sectionCss{
    text-align: center;
    display: flex;
    img{
        width: 80%;
        height: 80%;
        justify-content: center;
        margin-top: 5%;

    }
    h1{
        @include hSectionSobreMi($aboutMeColor, center, $thirdFonts, $thirdFonts, 2cm)
    }
}

.sobreMi{
    h1{
        color: $aboutMeColor;
        text-align: center;
        margin-bottom: 2%;
        height: $thirdFonts;
    }
    p{
        margin: 0.5% 2%;
        justify-content: center;
    }
}

.colorus{
    color: $navColor;
    &:hover{
        color: $navColor;
    }
}