.sectionCss2{
    h3{
        color: $mainColor;
        text-align: justify;
        font-size: $thirdFonts;
        margin-bottom: 2%;
    }
    p{
        color: $mainColor;
        text-align: justify;
        margin-bottom: 5%;
        font-size: $thirdFonts;
        text-align: justify;
    }
}